
{% extends "OCPlatformBundle::layout.html.twig" %}

{% block title %} Accueil - {{ parent() }}{% endblock %}

{% block ocplatform_body %}
    Notre plateforme est un peu vide pour le moment, mais cela viendra !<br>

    <ul>
        {% for annonce in listeAnnonce %}
            <li>
                <a href="{{ path('oc_platform_view', {'id': annonce.id}) }}">
                    {{ annonce.titre }}
                    {{ annonce.date|date('d/m/Y') }}
                    {{ annonce.auteur }}
                    {{ annonce.contenu }}
                </a>

            </li>
        {% else %}
            <li>Pas (encore !) d'annonces</li>
        {% endfor %}
    </ul>
{% endblock %}
